header {
  position: absolute;
  width: 100%;
  box-shadow: 0 1px 0 0 #fff, 0 2px 6px 0 rgb(0 0 0 / 20%);
}
.header-container {
  height: 75px;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.imagem_user{
  display: flex;
  align-items: center;
}
.imagem_user img{
  max-height: 30px;
}
.imagem_user .p{
  margin: 0;
  margin-right: 15px;
  color: #c4c4c4;
  font-weight: bold;
}

.logo {
  font-family: Aprova,Helvetica,sans-serif
}

.logo img{
  max-height: 75px;
  object-fit: cover;
}
.header{
  height: 75px;
}
#header{
  scroll-behavior: smooth;
}


.btn-logout{
  background-color: white;
}
