h2{
  color: orange;
}

#super_layout {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
main{
  padding-bottom: 50px;
}

.page{
  width: 100%
}
.questao-content{
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

p, h2, .texto{
  font-family: Inter UI,sans-serif;
  font-weight: 400;
  letter-spacing: -.4px;
  line-height: 30px;
  color: #616161;
}
.texto:hover{
  background-color: #f3f3f3;
}

.btn-ajuda{
  color: Orange;
}
.btn-ajuda:hover{
  border: 1px solid orange;
}


.container-imagens{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}





  /*239e5d*/

.bt-ajuda{
  color: orange;
  padding: 10px;
  border:orange 1px solid;
  margin: 30px 0 0 30px;
  border-radius: 2px;
  font-weight: bold;

}
.bt-ajuda:hover{
  color: white;
  background-color:orange;
  transform: scale(1.05);
  transition: 0.3;
 
}