
.bg-loading{
  position: fixed;
  width: 100%;
  height: 100vh;

  top: 0;
  left: 0;

  background-color: white;
  opacity: 0.8;
  
  display: flex;
  justify-content: center;
  align-items: center;
}