.caminho ul{
  list-style: none;
  display: flex;
}
.caminho ul li{
  font-family: Aprova, Helvetica,sans-serif;
  font-size: 15px;
  font-weight: bolder;

  color: #239e5d;
  margin: 10px 10px;

  cursor: pointer;
  position: relative
}

#cinza{
  color: #666;
  cursor: initial;
}

.link::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #239e5d;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.link:hover::before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}