.container-modal{
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content{
  width: 60%;
}

.modal-content img{
  max-width: 100%;
  box-shadow: inset 0 1px 1px black;
}
