.padding{
  padding: 100px;
}

.drop-content button{
  font-size: 14px;
  display: block;
  width: 100%;
}

button[name="drop"]{
  border: none;
  cursor: pointer;
  background-color: white;
  border: rgb(235, 140, 52) solid 1px;
  padding: 10px;
  font-size: 16px;
  color: rgb(235, 140, 52);
  width: 100%;
  padding: 15px;
}
.menu-drop{
  position: relative;
  margin: 5px;
}
.drop-content{
  display: none;
  background-color: rgb(235, 140, 52);
  z-index: 1;
}
.drop-content button{
  color: white;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}
.drop-content button:hover{
  background-color: rgb(206, 124, 47);

}
button[name="drop"]:focus +  .drop-content{
  display: block;
}

.drop-content:hover{
  display: block;
}

.menu-drop:hover button[name="drop"]{
  background-color:  rgb(204, 101, 32);
  color: white
}

.margin-bottom{
  padding-bottom: 30px;
}