
.procedimentos-h1{
  margin-bottom: 30px;
}

.checkmaster{
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;

}

.checkmaster input{
  position: absolute;
  cursor: pointer;

  opacity: 0;
  height:0;
  width: 0;
}

.truecheck{
  position: absolute;
  top: calc(50% - 12px);
  left: 5px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.checkmaster:hover input ~ .truecheck{
background-color: #ccc;
}

.checkmaster input:checked ~ .truecheck{
background-color: #239e5d;
}


.bt-final{
  color: #239e5d;
  padding: 10px;
  border:#239e5d 1px solid;
  margin: 30px 0 0 30px;
  border-radius: 2px;
  font-weight: bold;
}

.bt-final:hover{
  color: white;
  background-color:#239e5d;
  transform: scale(1.05);
  transition: 0.3;
  
}

.bt-final:disabled:hover{
  color: white;
  background-color: #ccc;
  border: none;
}

.bt-final:disabled{
  color: white;
  background-color: #ccc;
  border: none;
}


.katex-display{
  margin: 0;
  display: inline-block;
}