
.background--loginScreen{

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;

}

.container-loginScreen{
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}

.container-loginScreen h1{
  display: block;
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-align: center;
}

.container-loginScreen p{
  font-family: Inter UI,sans-serif;
  display: block;
  font-size: 12px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 30px;
}



.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: Roboto;
  font-size: 15px;
  color: #555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: 0 0;
  padding: 0 5px;
}


.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  background: #6a7dfe;
  background: -webkit-linear-gradient(left,#21d4fd,#b721ff);
  background: -o-linear-gradient(left,#21d4fd,#b721ff);
  background: -moz-linear-gradient(left,#21d4fd,#b721ff);
  background: linear-gradient(left,#21d4fd,#b721ff);
  -ms-transition: all .4s;
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0;
  padding-left: 5px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
  -ms-transition: all .4s;
}

.change-login-container--loginScreen{
  display: flex;
  justify-content: flex-end;
}

.alert-container{
  margin: 15px;
}
.select_login{
  width: 100%;
}