
.agradecimentos{
  margin-top: 30px;
}

.feedback{
  margin: 20px 0;
}
.verde-bold{
  color: #239e5d;
  font-weight: bold;
  padding-top: 5px;
  margin: 0;
  font-size: 20px;
}
.botao-escolher-novaQuestao{
  margin: 15px auto;
  box-shadow: 0 0 2px #239e5d;
}
.inputs-final{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.inputs-final div{
  max-width: 50%;
  margin: 0 20px;
}
.flex-total{
  display: flex;
  justify-content: center;
  align-items: center;
}