*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

/*TODO -> Remover ou adicionar estilização global*/

button{
  background: none;
  border: none;
  cursor: pointer;
}
a{
  text-decoration: none;
}

h1{
  font-family: Aprova, Helvetica,sans-serif;
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: -1.8px;
  color: #111;
  font-size: 28px;
  margin: auto 0;
}

textarea{
  width: 100%;
  height: 300px;
  font-size: 18px;
  resize: vertical;
}