.main--curso{
  width: 70%;
  margin: auto;
  padding-top: 20px;

  display: block;
}

.efeito-hover:hover{
  box-shadow: 0 0 2px black;
  background-color: white;
}

.efeito-hover{
  cursor: pointer;
  box-shadow: 0 0 1px black;
  background-color: #f4f4f4;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.atividade-container--curso{
  width: 100%;
}

.titulo-buscar-questao{
  text-align: center;
}

.atividade-container--curso p{
  margin: 0;
  font-size: 16px;
}

.atividade-questao--curso{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
  cursor: pointer;
  background-color: #f4f4f4;
  margin: 5px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.atividade-questao--curso:hover{
  box-shadow: 0 0 2px black;
  background-color: white;
}



.atividade-collapse--curso {
  position: relative;
  height: 50px;
  animation: collapse 0.5s ease-in-out;
  -webkit-animation: collapse 0.5s ease-in-out;
  border-bottom: 1px #c4c4c4 solid;
}
.atividade-collapse-content--curso{
  padding-left: 15px;
  color: #c4c4c4;
  font-family: 'Courier New', Courier, monospace;
}

.colapse{
  
  animation: collapsed 0.5s ease-in-out;
  -webkit-animation: collapsed 0.5s ease-in-out;

  visibility: hidden;
  height: 0;
}

.atividade-collapse--curso button{

  font-weight: bold;

  padding: 5px;
  margin: auto;

  position: absolute;
  bottom:0;
}

.atividade-collapse--curso button:hover{
  transition: all 0.4s ease-in-out;
  text-decoration: underline;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

@keyframes collapse {
  from{
    height: 0px;
    opacity: 0;
  }
  to{
    height: 50px;
    opacity: 1;
  }
}

@keyframes collapsed {
  from{
    height: 50px;
    opacity: 1;
  }
  to{
    height: 0px;
    opacity: 0;
  }
  100%{
    display: none;
  }
  
}
